<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedro.ofertapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AcercaDe">Acerca De</activity>
        <activity android:name=".activity.RegistroActivity">Registro</activity>
        <activity android:name=".activity.InicioActivity">Login</activity>
        <activity android:name=".activity.ProfileActivity">Perfil</activity>
        <activity android:name=".activity.NuevoAnuncioActivity">Nuevo Anuncio</activity>
        <activity android:name=".activity.MisAnunciosActivity">Mis Anuncios</activity>
        <activity android:name=".activity.DetalleAnuncioActivity">Detalle Anuncio</activity>
    </application>

</manifest>